---
title: "Thank You - 2021 Q3 Needs Assessments"
date: 2021-05-14T15:30:00+02:00

draft: false
---
<!--
Above The Fold
================================================================================
-->
<header class="section section--above-the-fold bg--gradient">
  <div class="page__header col-10 col-sm-12 col-mx-auto text-center">
    <img class="logo" src="/img/da-logos/DA_wordmark_white_vertical.png" alt="Distribute Aid Logo: A flock of doves stylized by stacking wings behind the main outline of a dove." />

    <h1 class="text-center text-uppercase intro">
      DA Needs Assessments - 2021 Q3
    </h1>
  </div>

  <div class="col-10 col-sm-12 col-mx-auto">
    <p class="h2 text-center">
      Thank you! Your response has been submitted.  We'll email you a copy of the report in a few weeks once all the responses have been analyzed.
    </h2>

    <p class="col-8 col-lg-10 col-sm-11 col-mx-auto text-center">
      If you have any questions in the meantime, don't hesitate to reach out to Nicole at <a href="mailto:logistics@distributeaid.org" target="_blank" rel="noopener noreferrer">nicole@distributeaid.org</a>.
    </p>
  </div>

</header>
