---
title: "Home"
date: 2019-08-21T02:30:57+02:00

draft: false
---

<!--
Above The Fold
================================================================================
-->
<header class="section section--above-the-fold bg--gradient">
	<div class="page__header col-10 col-sm-12 col-mx-auto text-center">
		<img class="logo" src="/img/da-logos/DA_wordmark_white_vertical.png" alt="Distribute Aid Logo: A flock of doves stylized by stacking wings behind the main outline of a dove." />

		<p class="intro col-7 col-lg-9 col-sm-11 col-mx-auto text-justify">
			Distribute Aid helps grassroots organizations ship humanitarian aid to where it's needed most. Our logistics experts, open source technology, and extensive partnerships allow us to operate efficiently, saving aid groups valuable time and money. We currently work with the Refugee Aid movement in Europe, and COVID-19 response groups in Europe and the US.
		</p>
	</div>

	<div class="col-10 col-sm-12 col-mx-auto text-center">
		<h1 class="text-uppercase">
			Re-Imagine Humanitarian Aid Delivery
		</h1>

		<iframe class="intro-video" width="560" height="315" src="https://www.youtube.com/embed/msizPweg3kE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</header>


<!--
Shipments
================================================================================
-->
<section class="section">
	<div class="columns columns--spaced">

		<div class="column col-4 col-md-12">
			<div class="card">
			  <div class="card-image">
			    <img src="./img-services/help-refugees-warehouse-calais.jpg" class="img-responsive" alt="A photo of a refugee aid warehouse with boxes of supplies and shelves of baby carriers.">
				</div>
				<div class="card-header text-center">
			    <div class="card-title h4">UK <strong>&#10140;</strong> France</div>
			    <div class="card-subtitle">Pallets via DA Delivery</div>
			  </div>
			  <div class="card-body">
			  	<p class="text-center">
			  		<a class="btn btn-primary" href="/routes/uk-to-france/">Ship Your Aid!</a>
			  		<span class="offer-info"></span>
			  	</p>
					<p>
						Send pallets to Calais &amp; Dunkirk on our monthly truck.
					</p>
					<p>
						Organizing your own shipments from the UK to EU?  Be sure to checkout our <a href="/docs/brexit-vs-humanitarian-aid.pdf">Brexit vs. Humanitarian Aid</a> guide to understand the new requirements and how to qualify for a VAT tax exemption!
					</p>
			  </div>
			</div>
		</div>

		<div class="column col-4 col-md-12">
			<div class="card">
			  <div class="card-image">
			    <img src="./img-services/the-free-shop-unloading.jpg" class="img-responsive" alt="A photo of aid workers with The Free Shop in Lebanon sitting on a truck before unloading it.">
				</div>
				<div class="card-header text-center">
			    <div class="card-title h4">UK <strong>&#10140;</strong> Lebanon</div>
			    <div class="card-subtitle">Pallets via DA Delivery</div>
			  </div>
			  <div class="card-body">
			  	<p class="text-center">
			  		<a class="btn btn-primary" href="/routes/uk-to-lebanon/">Ship Your Aid!</a>
			  		<span class="offer-info"></span>
			  	</p>

					<p>
						<strong>New Route!</strong> We're proud to announce regular shipments to support aid groups in Lebanon.
					</p>

					<p>
						Grassroots organisations based in Lebanon provide specialised services to both refugees and vulnerable Lebanese populations. We are excited to be working with some of these incredible groups as we expand our operations into this region.
					</p>
			  </div>
			</div>
		</div>

		<div class="column col-4 col-md-12">
			<div class="card">
			  <div class="card-image">
			    <img src="./img-services/bobby-moving-a-pallet-iha.jpg" class="img-responsive" alt="A photo of a refugee aid warehouse with boxes of supplies and shelves of baby carriers.">
				</div>
				<div class="card-header text-center">
			    <div class="card-title h4">Custom Shipments</div>
			    <div class="card-subtitle">Pallets, Trucks, & Containers</div>
			  </div>
			  <div class="card-body">
			  	<p class="text-center">
			  		<a class="btn btn-primary" href="mailto:logistics@distributeaid.org" target="_blank" rel="noopener noreferrer">Contact Us!</a>
			  		<span class="offer-info"></span>
			  	</p>

					<p>
						We're happy to help organize or advise on humanitarian aid shipments to:
					</p>

					<div class="columns">
						<div class="column col-6">
							<ul class="list--v-inline">
								<li>
									France
								</li>
								<li>
									Italy
								</li>
								<li>
									Greece
								</li>
								<li>
									Croatia
								</li>
							</ul>
						</div>
						<div class="column col-6">
							<ul class="list--v-inline">
								<li>
									Serbia
								</li>
								<li>
									Bosnia
								</li>
								<li>
									Lebanon
								</li>
								<li>
									Somewhere new!
								</li>
							</ul>
						</div>
				  </div>
				 </div>

			</div>
		</div>

	</div>
</section>


<!--
How We Help
================================================================================
-->
<section class="section">
	<header class="section__header section__header--banner bg--082B76">
	  <h1 class="section__title">How We Help</h1>
	</header>

	<div class="columns columns--spaced">

		<div class="column col-6 col-md-12">
			<div class="card">
			  <div class="card-image">
			    <img src="./img-how-we-help/how-we-help-refugees.jpg" class="img-responsive" alt="A photo of a refugee aid warehouse with boxes of supplies and shelves of baby carriers.">
				</div>
				<div class="card-header">
			    <div class="card-title h4">Refugee Aid</div>
			    <div class="card-subtitle">Europe</div>
			  </div>
			  <div class="card-body">
					<p>
						Distribute Aid helps European grassroots refugee aid groups support over 100,000 asylum seekers. We assist with every point in the supply chain: assessing needs, gathering supplies at home or from in-kind donors, coordinating shipments, and advising on distributions. We currently send several regular shipments each month to multiple destinations, and handle specialty / emergency response shipments as well.
					</p>
			  </div>
			</div>
		</div>

		<div class="column col-6 col-md-12">
			<div class="card">
			  <div class="card-image">
			    <img src="./img-how-we-help/how-we-help-covid.jpg" class="img-responsive" alt="A photo of a refugee aid warehouse with boxes of supplies and shelves of baby carriers.">
				</div>
				<div class="card-header">
			    <div class="card-title h4">COVID-19 Response</div>
			    <div class="card-subtitle">Europe & USA</div>
			  </div>
			  <div class="card-body">
					<p>
						Distribute Aid is actively working to prevent the spread of COVID-19 globally. We regularly send hygiene and PPE shipments to our European partners who continue to work to protect people in crowded refugee camps. Because COVID-19 affects everybody, our response grew as the virus spread. We now also collaborate with multiple grassroots networks in the US to support their response.
					</p>
			  </div>
			</div>
		</div>

	</div>
</section>


<!--
2020 in Numbers
================================================================================
-->

<section class="section">
	<header class="section__header section__header--banner bg--082B76">
	  <h1 class="section__title">2020 in numbers</h1>
	</header>
  
	<div class="report">
	  <div>
		<p>
		  <img src="./report/1F4B5.svg" alt="Dollar Banknote" /><br />
		  <strong>$2+ Million</strong><br />worth of aid shipped
		</p>
	  </div>
  
	  <div>
		<p>
		  <img src="./report/1F4E6.svg" alt="Parcel" /><br />
		  <strong>1+ Million</strong><br />pieces shipped
		</p>
	  </div>
  
	  <div>
		<p>
		  <img
			src="./report/1F468-200D-1F469-200D-1F467-200D-1F466.svg"
			alt="Family"
		  /><br />
		  <strong>290,500 ×</strong><br />aid delivered
		</p>
	  </div>
  
	  <div>
		<p>
		  <img src="./report/1F69B.svg" alt="Truck" /><br />
		  <strong>467,100 kg</strong><br />aid shipped
		</p>
	  </div>
  
	  <div>
		<p>
		  <img src="./report/1F6E3.svg" alt="Highway" /><br />
		  <strong>54,953 km</strong><br />transport arranged
		</p>
	  </div>
  
	  <div>
		<p>
		  <img src="./report/1F680.svg" alt="Rocket" /><br />
		  <strong>20x Impact</strong><br />every $1 we spend delivers $20 worth of aid
		</p>
	  </div>
	</div>
	<footer class="columns columns--spaced">
	  <p style="text-align: center; width: 100%; opacity: 0.8">
		<small>
		  All emojis designed by
		  <a
			href="https://openmoji.org/"
			target="_blank"
			rel="noopener noreferrer"
			>OpenMoji</a
		  >
		  – the open-source emoji and icon project. License:
		  <a
			href="https://creativecommons.org/licenses/by-sa/4.0/"
			target="_blank"
			rel="noopener noreferrer"
			>CC BY-SA 4.0</a
		  >
		</small>
	  </p>
	</footer>
  </section>
  

<!--
Our Projects
================================================================================
-->
<section class="section">
	<header class="section__header section__header--banner bg--082B76">
		<h1 class="section__title">
			Our Projects
		</h1>
	</header>

	<div class="columns columns--spaced">

		<!--
		Refugee Aid Shipments
		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		-->
		<div class="column col-6 col-md-12">
			<div class="card">
			  <div class="card-image">
			    <img src="./img-our-projects/refugee-aid-shipments.jpg" class="img-responsive" alt="Men unloading aid from a truck.">
				</div>
				<div class="card-header">
			    <div class="card-title h4">Refugee Aid Shipments</div>
			  </div>
			  <div class="card-body">
					<p>
						Our experienced logistics team has seen it all and can handle everything from simple point-to-point shipments to complex multi-pickup / multi-drop-off shipments involving ten or more aid groups. We've reduced the cost of average aid shipments by 25% and increased the quality of aid by 35%. We are a proud to partner with
						<a href="https://flexport.org" target="_blank" rel="noopener noreferrer">
							Flexport.org
							<span class="sr-only"> (opens in a new tab)</span>
						</a>
						as we scale up our shipping volume and support refugee aid groups in new parts of the world.
					</p>
			  </div>
			</div>
		</div>

		<!--
		Regional Needs Assessments
		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		-->
		<div class="column col-6 col-md-12">
			<div class="card">
			  <div class="card-image">
			    <img src="./img-our-projects/regional-needs-assessments.png" class="img-responsive" alt="A screenshot of one of our needs list spreadsheets.">
				</div>
				<div class="card-header">
			    <div class="card-title h4">Regional Needs Assessments</div>
			  </div>
			  <div class="card-body">
					<p>
						We always begin planning our shipments by identifying the needs on the ground. This ensures that the donations on our shipments are immediately useful to the receiving groups, and reduces waste and the need for long-term storage. Our logistics team's regional needs assessments identify needs across dozens of aid groups working near each other, so we can approach in-kind donors and plan combined shipments to get even more aid delivered efficiently.
					</p>
			  </div>
			</div>
		</div>

		<!--
		COVID-19 Aid Workers Guide
		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		-->
		<div class="column col-6 col-md-12">
			<div class="card">
			  <div class="card-image">
			    <img src="./img-our-projects/covid19-aid-workers-guide.png" class="img-responsive" alt="A screenshot of Distrubute Aid's COVID-19 resources website.">
				</div>
				<div class="card-header">
			    <div class="card-title h4">COVID-19 Aid Workers Guide</div>
			  </div>
			  <div class="card-body">
					<p>
						Since its launch in March, our
						<a href="https://resources.distributeaid.org" target="_blank" rel="noopener noreferrer">
							COVID-19 information project
							<span class="sr-only"> (opens in a new tab)</span>
						</a>
						has expanded into a full resource site with comprehensive guides and information sheets that have been distributed through grassroots networks around the world. We are glad to see aid groups taking appropriate safety measures for their volunteers and the communities they serve. Our resources will continue to be available and updated as needed.
					</p>
			  </div>
			</div>
		</div>

		<!--
		Masks For Humanity
		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		-->
		<div class="column col-6 col-md-12">
			<div class="card">
			  <div class="card-image">
			    <img src="./img-our-projects/masks-for-humanity.jpg" class="img-responsive" alt="A box of masks with a note on top that reads: 'From one group seeking freedom to another.'">
				</div>
				<div class="card-header">
			    <div class="card-title h4">Masks For Humanity</div>
			  </div>
			  <div class="card-body">
					<p>
						Women makers living in the Moria refugee camp have been working with
						<a href="https://teamhumanity.info/" target="_blank" rel="noopener noreferrer">
							Team Humanity
							<span class="sr-only"> (opens in a new tab)</span>
						</a>
						to create protective masks, which are: ethically made, affordable, durable, washable, and reusable. We are working with
						<a href="https://www.medsupplydrive.org/" target="_blank" rel="noopener noreferrer">
							MedSupplyDrive
							<span class="sr-only"> (opens in a new tab)</span>
						</a>
						to help these women distribute their masks to vulnerable people all over the world.  This project is still in it's early stages, so stay tuned for more!
					</p>
			  </div>
			</div>
		</div>

	</div>
</section>
