/*
Site Styles
================================================================================

Framework
------------------------------------------------------------
We use the [Spectre css framework](https://picturepan2.github.io/spectre/getting-started.html) to provide a lightweight set of initial styles and common components.

Naming Convention
------------------------------------------------------------
We use the [Block-Element-Modifier (BEM) naming convention](http://getbem.com/introduction/).

EX:

```
.menu {...}
.menu__item {...}
.menu__item--active {...}
```

Exceptions can be made when building off of or customizing framework styles.

Organization
------------------------------------------------------------
Our styles are organized in a manner loosely based on [ITCSS conventions](https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/).  In particular the following sections are used:

**Elements** - Styles applied directly to html elements.

**Layout** - Main layout and structure for the site.

**Components** - Specific UI components that focus on displaying content.

**Utilities** - Helper classes and overrides (trumps).  `!important` must go here, since it will override everything.

Colors
------------------------------------------------------------
Notes:
  - main = the primary color in each flavor
  - dark = use a light color to provide contrast (e.g. dark background / light foreground, and vice versa)

Primary: Dark Blue
  - #082B76 (dark)
  - #09328B (dark, main)
  - #4362A6 (dark)
  - #8B9FC8 (dark)
  - #C5CFE4
  - #E2E7F1

Compliment: Light Blue
  - #8F97E5 (dark)
  - #9FA8FF (dark, main)
  - #B6BCFF (dark)
  - #CCD1FF (dark)
  - #E3E5FF
  - #EEF0FF

Compliment: Purple
  - #A284B0 (dark)
  - #B493C4 (dark, main)
  - #C6ACD2 (dark)
  - #D7C6E0 (dark)
  - #E9DFEE
  - #F2ECF5

Compliment: Pastel Yellow
  - #E5DBCE
  - #FFF3E5 (main)
  - #FFF6EB
  - #FFF9F1, rgba(255, 249, 241, 1)
  - #FFFBF7, rgba(255, 251, 247, 1)
  - #FFFDFA, rgba(255, 253, 250, 1)

Compliment: Cyan
  - #79D2E3
  - #87E9FC (main)
  - #A3EEFD
  - #BFF3FD
  - #D1F7FE
  - #EAFBFE
*/

/*
Imports
------------------------------------------------------------
*/
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.eot');
    src: url('/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-Regular.woff2') format('woff2'),
        url('/fonts/Lato-Regular.woff') format('woff'),
        url('/fonts/Lato-Regular.ttf') format('truetype'),
        url('/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('/fonts/Lato-Bold.eot');
    src: url('/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-Bold.woff2') format('woff2'),
        url('/fonts/Lato-Bold.woff') format('woff'),
        url('/fonts/Lato-Bold.ttf') format('truetype'),
        url('/fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('/fonts/Lato-BoldItalic.eot');
    src: url('/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-BoldItalic.woff2') format('woff2'),
        url('/fonts/Lato-BoldItalic.woff') format('woff'),
        url('/fonts/Lato-BoldItalic.ttf') format('truetype'),
        url('/fonts/Lato-BoldItalic.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('/fonts/Lato-Italic.eot');
    src: url('/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-Italic.woff2') format('woff2'),
        url('/fonts/Lato-Italic.woff') format('woff'),
        url('/fonts/Lato-Italic.ttf') format('truetype'),
        url('/fonts/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato-LightItalic';
    src: url('/fonts/Lato-LightItalic.eot');
    src: url('/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-LightItalic.woff2') format('woff2'),
        url('/fonts/Lato-LightItalic.woff') format('woff'),
        url('/fonts/Lato-LightItalic.ttf') format('truetype'),
        url('/fonts/Lato-LightItalic.svg#Lato-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}


/*
Elements
================================================================================
*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;

  font-family: 'Lato';
  font-style: normal;
  letter-spacing: 0.02em;
}

/*
Headings
------------------------------------------------------------
*/
h1, .h1,
h2, .h2 {
  font-family: 'Lato-LightItalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 1rem;
}

h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Lato-Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
h5:last-child, .h5:last-child,
h6:last-child, .h6:last-child {
  margin-bottom: 0;
}

h1, .h1 {
	font-size: 2.4rem;
}

h2, .h2 {
	font-size: 1.6rem;
}

h3, .h3 {
	font-size: 1.2rem;
}

h4, .h4 {
	font-size: 1rem;
}

h5, .h5 {
	font-size: 0.9rem;
}

h6, .h6 {
	font-size: .8rem;
}

/*
Text
------------------------------------------------------------
*/
p {
  margin-bottom: 1em;

  font-size: 1em;
}

small {
  font-size: 87.5%;
}

/*
Lists
------------------------------------------------------------
*/
ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

ol li,
ul li {
  margin-top: 1em;
}

.list--v-inline {
  margin-top: 0;
}
.list--v-inline li {
  margin-top: 0.25rem;
}
.list--v-inline li:first-child {
  margin-top: 0;
}

.list--unstyled,
.list--unstyled {
  margin: 0 0 1em 0;

  list-style: none;
}

/*
Form
------------------------------------------------------------
*/
.btn.btn-primary {
  height: auto;
  padding: 0.5rem 1.5rem;

  background-color: #09328B;
  border-color: #051E5E;

  color: #FFF;

  font-weight: bold;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:active {
  background-color: #224BA4;
  border-color: #082B76;
}


/*
Links
------------------------------------------------------------
*/
/* a,
a:visited {
  text-decoration: none;
} */

a {
  text-decoration: underline;
}

a:focus,
a:hover,
a:active,
a.active {
  text-decoration: none;
}


/*
Layout
================================================================================
*/

/*
Page
------------------------------------------------------------
*/
.page {}

.page__header {
  border-bottom: 1px solid #FFF;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page__content {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.page__footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid #E5DBCE;

  background-color: #FFF6EB;
}

.page__footer__donation img {
  max-width: 250px;
}

.page__footer__email {
  margin-bottom: 0.5rem;
}

.page__footer__email p {
  display: inline;
}

.page__footer__socials {
  margin-top: 1rem;
}

.page__footer__socials a {
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.4;
}

.page__footer__socials img {
  height: 2rem;
  margin: 0.5rem;
}

@media only screen and (max-device-width: 340px) {
  .page__footer__donation img {
    max-width: 85%;
  }
}

/*
Sections
------------------------------------------------------------
*/
.section {}

.section--above-the-fold {
  position: relative;
  min-height: 100vh;
  margin-top: 0;
  overflow: auto;
}

.section--content-left,
.section--content-center,
.section--content-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.section--content-left .section__content {
  width: 50%;
}

.section--content-center .section__content {
  width: 83.33333333%; /* 10/12 */
  margin: 0 auto;
}

.section--content-right .section__content {
  width: 50%;
  margin-left: auto;
}

.section__content {
  padding: 1rem;
}

.section__header {
  margin-bottom: 1rem;

  text-align: center;
}

.section__header--banner {
  padding: 2rem 0;
}

.section__title {
  display: flex;
  justify-content: center;
  align-items: baseline;

  margin-bottom: 0;

  font-size: 2.4rem;
  text-transform: uppercase;
}

.section__title:only-child {
  line-height: 1;
}

.section__title > * {
  margin: 0 0.25rem;
}

.section__subtitle {
  margin-bottom: 0;

  font-size: 1.6rem;
}

.section__body {}

.section__footer {}

.section__footer > :last-child {
  margin-bottom: 0;
}

@media only screen and (max-device-width: 600px) {
  .section--content-left .section__content,
  .section--content-center .section__content,
  .section--content-right .section__content {
    width: 100%;
  }
}

@media only screen and (min-device-width: 1281px) {
  .section--above-the-fold {
    min-height: 90%;
  }
}

@media only screen and (min-device-width: 1401px) {
  .section--above-the-fold {
    padding: 1.2rem 10%;
  }
}

/*
Above the Fold
------------------------------------------------------------
*/
.intro,
.intro:last-child {
  margin-bottom: 2rem;
}

.intro-video {
  margin-bottom: 2rem;
}


/*
Components
================================================================================
*/

/*
Card
------------------------------------------------------------
Override some Spectre defaults: https://picturepan2.github.io/spectre/components/cards.html
*/
.card {
  height: 100%;
}
.card-image {
  border-bottom: 1px solid #DADEE4;
}
.card-title {
  margin-bottom: 0;
}

/*
Columns
------------------------------------------------------------
Override some Spectre defaults: https://picturepan2.github.io/spectre/layout/grid.html
*/
.columns {
  margin-left: 0;
  margin-right: 0;
}
.columns--spaced {
  margin: 0 1.5%;
}
.columns--spaced > .column {
  padding: 1.5%;
}

@media only screen and (min-device-width: 500px) {
/*  .columns--spaced > .column {
    padding-bottom: 3.5%;
  }
*/
}

/*
Capabilities Grid
------------------------------------------------------------
*/
.capabilities-grid {
  display: grid;
  grid: auto-flow / auto 1fr 1fr 1fr;
}

/*
Hubs
------------------------------------------------------------
*/
.hub-logo-rounder {
  display: inline-block;
  border-radius: 100%;

  line-height: 1;

  overflow: hidden;
}

.hub-logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.hub-logo-rounder--white-bg {
  padding: 0.8rem;

  background-color: #FFF;
}

.hub-logo-rounder--white-bg .hub-logo {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}

/*
Icons
------------------------------------------------------------
*/
.icon {
  display: inline-block;
  width: 2em;
  max-height: 2em;
  margin: 1em;
}

.icon--responsive {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: none;
  margin: 0;
}

.icon--rounded {
  border-radius: 100%
}

/*
Logo
------------------------------------------------------------
*/
.logo {
  max-width: 256px;
  margin-bottom: 1rem;
}

.logo--inline {
  height: 1em;
  margin-bottom: 0;
}

.lettermark {}

.lettermark--inline {
  height: 1.2em;
}

/* TODO: old, cleanup */
.logo-container {
  background: url('../img/svg/da_logo.svg') no-repeat 45% / 65%; /* 45% centers logo */
  width: 45%;
  left: 0;
}

/* TODO: old, cleanup */
svg.da-logo {
  width: 145px;
  height: 115px;
}

/* TODO: old, cleanup */
svg.da-logo path {
  fill: #FFF;
  stroke: #FFF;
}

@media only screen and (min-device-width: 1281px) {
  .logo {
    margin-top: 2rem;
  }
}

/*
Nav
------------------------------------------------------------
*/
#m-nav .m-top-close-bar /* m- prefix for targeting mobile elements */
{
  display: flex;
  justify-content: center;
}

#m-nav .m-top-close-bar {
  background: #09328B;
  border-bottom: 1px solid #FFF;
  flex-direction: row;
  width: 100vw;
  height: 160px;
  position: absolute;
  top: 0;
  z-index: 99;
}

#m-nav .m-top-close-bar .m-top-close-corner {
  position: relative;
  width: 33.33%;
}

#m-nav .m-top-close-bar .m-top-close-corner .m-menu-close {
  width: 100%;
}

nav,
.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: absolute; /* allows for overriding display:flex positioning from parent element */
}

nav {
	width: 33.33%;
	right: 25px;
}

nav div * {
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
}

nav div span {
	font: normal bold 3.382vw 'Lato-Bold';
	letter-spacing: 1em;
	margin-top: 10px;
	margin-right: -15px; /* center text under hamburger svg */
}

.m-nav-bg-overlay { /* m- prefix for targeting mobile elements */
	visibility: hidden;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 9998;
	background: rgba(0,0,0,0);
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
}

.m-nav-bg-overlay.active {
	visibility: visible;
	background: rgba(0,0,0,.5);
}

#m-nav {
	visibility: hidden;
	height: 100%;
	position: fixed;
	top: 0;
	right: -300px;
	width: 66.66%;
	z-index: 9999;
	background: #09328B;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
	-webkit-transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
	-moz-transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
	-o-transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

#m-nav.active {
	visibility: visible;
	right: 0;
}

#m-nav .mobile-menu {
	color: #FFF;
	display: block;
	position: relative;
	top: 27%;
	margin: 0;
	width: 100%;
	padding: 10%;
}

#m-nav ul.mobile-menu,
#m-nav ul.mobile-menu li,
#m-nav ul.mobile-menu li a {
	color: #FFF;
	font-family: 'Lato-BoldItalic';
	font-size: 1.25rem;
	font-size: 6.039vw;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 0.08em;
}

#m-nav ul.mobile-menu li {
	margin-top: 2.5rem;
}

#m-nav ul.mobile-menu li:first-child {
	margin-top: 0;
}

#m-nav .socials {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	top: 33%;
	padding: 0 10%;
	height: 40px;
}

#m-nav .socials a div {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	height: 100%;
}

#m-nav .socials .m-twitter {
	background-image: url('../img/svg/social_twitter.svg');
}

#m-nav .socials .m-linkedin {
	background-image: url('../img/svg/social_linkedin.svg');
}

#m-nav .socials .m-insta {
	background-image: url('../img/svg/social_insta.svg');
}

#m-nav .socials .m-patreon {
	background-image: url('../img/svg/social_patreon.svg');
}

/*
Offers
------------------------------------------------------------
*/
.offer-info {
  display: block;
  width: 100%;
  height: 17px;

  font-size: 87.5%;
  font-style: italic;
}


/*
Photos
------------------------------------------------------------
*/
.photo-credit {
  font-size: 0.875em;
  font-style: italic;
}

@media only screen and (max-device-width: 600px) {
  .photo-credit {
    display: flex;
    flex-direction: column;
  }
}

/*
Stages
------------------------------------------------------------
*/
.stages {}

.stage {
  padding: 1rem;
  border-bottom: 1px solid #C5CFE4;
  margin-top: 0;
}
.stage:first-child {
  border-top: 1px solid #C5CFE4;
}

.stage--active {}

.stage--active .stage-action {
  font-weight: bold;
}

.stage--active .stage-timeline {
  display: inline-block;
  width: auto;
  padding: 0.5em;

  background-color: #B493C4;
  border-color: #A284B0;
  color: #FFFDFA;

  line-height: 1;
}

/*
Tiles
------------------------------------------------------------
*/
.tiles {
  margin-bottom: 1rem;
}

.tiles--highlight {
  color: #09328B;
}

.tiles--highlight .tile {
  padding: 0.5rem;
}

.tiles--highlight .tile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}

.tiles--highlight .tile-icon--auto {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.tiles--grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tiles--grid .tile-icon {
  margin-bottom: 0.25rem;
}

.tiles--grid .tile-icon--auto {
  margin-bottom: 0;
}

.tiles--row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tiles--column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.tiles--column .tile-icon {
  align-items: center;
}

.tiles--column .tile {
  padding: 1rem 4.16666666%;
  border-bottom: 1px solid #C5CFE4;
}

.tiles--column .tile:last-child {
  border-bottom: none;
}

.tiles--column .tile-content:not(:first-child) {
  padding-left: 1rem;
}

/* ### tile */

.tile {
  font-size: 87.5%;
  font-weight: 400;
}

.tile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tile-content > * {
  margin-bottom: 0.25rem;
}

.tile-content > :last-child {
  margin-bottom: 0;
}

.tile .tile-title {
  font-size: 0.9rem;
  font-weight: bold;
}

.tile--column {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;

  text-align: center;
}

.tile--column .tile-icon {
  line-height: 0;
}

.tile--column .tile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.tile--column .tile-content:not(:first-child) {
  padding-left: 0;
}

.tile--column .tile-title {
  margin-bottom: 0.25rem;
}

.tile--column .tile-subtitle {
  margin-bottom: 0;
}

/*
Toasts
------------------------------------------------------------
*/
.toast.toast-primary {
  color: #FFF;
  background-color: #082B76;
}

.toast.toast-inline-announcement {
  display: inline-block;
  margin: 2rem auto 1rem auto;
  border: none;
  padding: 1rem;
  border-radius: 0.25rem;

  width: auto;
}


/*
Utilities
================================================================================
*/

/*
Accessibility
------------------------------------------------------------
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/*
Background & Color
------------------------------------------------------------
*/
.bg--img-cover {
  background: no-repeat center center fixed;
  background-size: cover;
  background-color: #C5CFE4; /* fallback if no image is used */
}

.bg--img-forklift-loading {
  background: no-repeat center right;
  background-size: contain;
  background-image: url('/img/backgrounds/forklift-loading.jpg');
}

.bg--img-forklift-loading-2 {
  background: no-repeat center right;
  background-size: cover;
  background-image: url('/img/backgrounds/forklift-loading-2.jpg');
}

.bg--img-pallet-storage {
  background: no-repeat center left;
  background-size: contain;
  background-image: url('/img/backgrounds/pallet-storage.jpg');
}

.bg--img-collection-and-sorting {
  background: no-repeat center left;
  background-size: 50% auto;
  background-image: url('/img/backgrounds/collection-and-sorting.jpg');  
}

.bg--img-cfc-unloading {
  background: no-repeat center right;
  background-size: cover;
  background-image: url('/img/backgrounds/calais-food-collective-unloading.jpg');
}

.bg--img-free-shop-unloading {
  background: no-repeat center right;
  background-size: 50% auto;
  background-image: url('/img/backgrounds/the-free-shop-unloading.jpg');
}

.bg--img-its-lebanon {
  background: no-repeat center right;
  background-size: contain;
  background-image: url('/img/backgrounds/informal-tented-settlement-labanon.jpg');
}

.bg--img-mrs-distro {
  background: no-repeat center right;
  background-size: 50% auto;
  background-image: url('/img/backgrounds/mobile-refugee-support-distribution.jpg')
}

.bg--overlay-light {
  border: 2px solid #FFF;

  color: #09328B;
  background-color: rgba(255, 255, 255, 0.85);
}

/*
  - #09328B (dark, main)
  - #4362A6 (dark)
*/
.bg--overlay-dark {
  border: 2px solid #8F97E5;

  color: #EEF0FF;
  background-color: rgba(8, 43, 118, 0.85);
}

.bg--gradient {
  color: #FFF;
  background: #09328B; /* fallback */
  background: radial-gradient(farthest-side at bottom left,  #FFF9F1 0%,#B493C4 20%,#09328B 60%);
}

.bg--gradient a,
.bg--gradient a:visited {
  color: #FFF;
}


.bg--white {
  color: #09328B;
  background-color: #FFF;
}

.bg--09328B {
  color: #FFF;
  background: #09328B;
}

.bg--082B76 {
  color: #FFF;
  background: #082B76;
}

.bg--79D2E3 {
  color: #09328B;
  background: #79D2E3;
}

.bg--8F97E5 {
  color: #09328B;
  background: #8F97E5;
}

.bg--A284B0 {
  color: #09328B;
  background: #A284B0;
}

.bg--9FA8FF {
  color: #000;
  background: #9FA8FF;
}

.bg--CCD1FF {
  color: #000;
  background: #CCD1FF;
}

/*
Display
------------------------------------------------------------
*/
.display-flex {
  display: flex;
}

@media only screen and (max-device-width: 600px) {
  .display-flex {
    flex-direction: column;
  }

  .display-flex > * {
    min-height: 600px;
  }
}

/*
Text
------------------------------------------------------------
*/
.text-small {
  font-size: 87.5%;
}

.text-large {
  font-size: 125%;
}

.text-underline {
  text-decoration: underline;
}
  
/*
Report
*/

.report {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .report {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.report strong {
  font-size: 200%;
}

.report div {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.report p {
  max-width: 250px;
}

.report img {
  width: 75%;
  max-width: 150px;
}
