<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ block "title" . }} {{ .Params.Title }} - Distribute Aid {{ end }}</title>

    <!--
    Styles
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -->
    <link rel="stylesheet" href="/css/spectre-0.5.8/spectre.min.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <!--
    Favicon
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -->
  	<link rel="shortcut icon" href="/favicon.ico">
  	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
  	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  	<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  	<link rel="manifest" href="/manifest.json">
  	<meta name="msapplication-TileColor" content="#09328B">
  	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  	<meta name="msapplication-config" content="/browserconfig.xml">
  	<meta name="theme-color" content="#09328B">

    <!--
    Scripts
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -->
    <script defer src="/js/main.js"></script>
  </head>

  <body class="page">
    <!--
    Content
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -->
    <!-- {{ block "nav" . }}{{ partial "nav.html" .}}{{ end }} -->

    <!-- {{ block "header" . }}{{ partial "header.html" .}}{{ end }} -->

    <!-- <header class="page__header bg--09328B">
      <img class="logo" src="DA_wordmark_white_vertical.png" alt="Distribute Aid Logo: A flock of doves stylized by stacking wings behind the main outline of a dove." />
    </header> -->

    <main class="page__content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}

    <!--
    Analytics
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -->
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="/analytics/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  </body>
</html>
