<footer class="page__footer text-center">
  <a class="page__footer__donation" href="https://www.patreon.com/distributeaid" target="_blank" rel="noopener noreferrer" aria-label="Support us on Patreon (opens in a new tab).">
    <img src="/img/brands/become_a_patron_button.png" alt="Patreon logo.">
  </a>

  <div class="page__footer__socials">
    <div class="page__footer__email">
      <p>
        Email us at <a href="mailto:hello@distributeaid.org" target="_blank" rel="noopener noreferrer">
          hello@distributeaid.org
          <span class="sr-only"> (opens in your email client)</span>
        </a>
      </p>
      
    </div>

    <!-- social_twitter -->
    <a href="https://twitter.com/DistributeAid" target="_blank" rel="noopener noreferrer" aria-label="Checkout our Twitter (opens in a new tab).">
      <img src="/img/brands/Twitter_Logo_WhiteOnBlue.png" alt="Twitter logo.">
    </a>

    <!-- social_linkedin -->
    <a href="https://www.linkedin.com/company/distribute-aid" target="_blank" rel="noopener noreferrer" aria-label="Checkout our LinkedIn (opens in a new tab).">
      <img src="/img/brands/LI-In-Bug.png" alt="LinkedIn logo.">
    </a>

    <!-- social_insta -->
    <a href="https://www.instagram.com/distributeaid" target="_blank" rel="noopener noreferrer" aria-label="Checkout our Instagram (opens in a new tab).">
      <img src="/img/brands/glyph-logo_May2016.png" alt="Instagram logo.">
    </a>
  </div>
</footer>