<header class="page__header">
	<div class="logo-container"></div>
	
	<nav class="m-menu-open">
		<div>
			<a id="m-menu-open-l" href="#">
				<svg xmlns="http://www.w3.org/2000/svg" width="85" height="23">
				  <g transform="translate(3 5)">
				    <path d="M 0 13 L 80 13" fill="transparent" stroke-width="2" stroke="hsl(0, 0%, 100%)"></path>
				    <path d="M 0 6.118 L 80 6.118" fill="transparent" stroke-width="2" stroke="hsl(0, 0%, 100%)"></path>
				    <path d="M 0 0 L 80 0" fill="transparent" stroke-width="2" stroke="hsl(0, 0%, 100%)"></path>
				  </g>
				</svg>
				
				<span>NAV</span>
			</a>
		</div>
	</nav>
</header>


