<div id="m-nav" class="m-off-canvas-container">

  <div class="m-top-close-bar">

    <div class="m-top-close-corner">

    <nav class="m-menu-close">
      <div>
        <a id="m-menu-close-l" href="#">

          <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76">
            <path d="M 0 0 L 80 0" transform="translate(-2 38) rotate(-45 40 0.5)" fill="transparent" stroke-width="2" stroke="hsl(0, 0%, 100%)"></path>
            <path d="M 0 0 L 80 0" transform="translate(-2 38) rotate(45 40 0.5)" fill="transparent" stroke-width="2" stroke="hsl(0, 0%, 100%)"></path>
          </svg>

          <span style="letter-spacing: 0.714em; margin-right: -10px;">CLOSE</span>

        </a>
      </div>
    </nav>

  </div>

  </div>

  <ul class="dark-bg align-right uppercase mobile-menu">
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#donate">Donate</a></li>
  </ul>

  <div class="socials">

<!-- social_twitter -->
  <a href="" target="_blank">
      <div class="m-twitter">
    </div>
  </a>

<!-- social_linkedin -->
  <a href="" target="_blank">
      <div class="m-linkedin">
    </div>
  </a>

<!-- social_insta -->
  <a href="" target="_blank">
      <div class="m-insta">
    </div>
  </a>

<!-- social_patreon -->
  <a href="" target="_blank">
      <div class="m-patreon">
    </div>
  </a>

  </div>

</div>

<div id="mobile-bg-dim" class="m-nav-bg-overlay"></div> <!-- dims background for active mobile menu -->