---
title: "Route: UK to France"
date: 2020-11-19T08:21:22+02:00

draft: false
---

<!--
DA Delivery Route: UK to France
================================================================================
-->
<section class="section section--above-the-fold section--content-left bg--img-cover bg--img-forklift-loading">
  <div class="section__content bg--white">
    <header class="section__header">
      <h1 class="section__title">
        <img class="lettermark lettermark--inline" src="/img/da-logos/DA_lettermark_blue.png" alt="Distribute Aid Logo: A flock of doves stylized by stacking wings behind the main outline of a dove." />
        <span>Delivery</span>
      </h1>
      <h2 class="section__subtitle">
        Regular Route: UK&rarr;France
      </h2>
    </header>

    <div class="section__body">
      <p>
        Distribute Aid is organising a regular route for humanitarian aid shipments between the UK and France. We won't let pandemics, Brexit, or global supply chain disruptions stop the flow of aid to those who need it most! &#9829;
      </p>
      <p>
        If you're here because you want to donate goods for people on the move in France- <strong class="text-uppercase">thank you!</strong> Groups on the ground would not be able to provide the services they do without support from donations like yours.
      </p>

      <div class="tiles tiles--grid tiles--highlight">
        <div class="tile tile--column col-6">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="/img/icons/noun_net_2428552.svg" alt="Hub Icon: Multiple nodes connected to a center hub.">
          </div>
          <div class="tile-content">
            <p class="tile-title">1 UK Staging Hubs</p>
            <p><!-- Dumfries, Leeds, --> Cambridge</p>
          </div>
        </div>

        <div class="tile tile--column col-6">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="/img/icons/noun_Maps_3610706.svg" alt="Map Icon: A destination marker on a map.">
          </div>
          <div class="tile-content">
            <p class="tile-title">Service to Calais &amp; Dunkirk</p>
            <p>Supporting 7 Frontline Groups</p>
          </div>
        </div>

        <div class="tile tile--column col-6">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="/img/icons/noun_Truck_1731459.svg" alt="Truck Icon: A truck in motion.">
          </div>
          <div class="tile-content">
            <p class="tile-title">Regular Shipments</p>
            <p>Scaled To Demand</p>
          </div>
        </div>

        <div class="tile tile--column col-6">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="/img/icons/noun_Heart_Bill_98293.svg" alt="Money Icon: A currency bill with a heart in the middle.">
          </div>
          <div class="tile-content">
            <p class="tile-title">Fair Flat-Rate Pricing</p>
            <p>All-Inclusive, At-Cost</p>
          </div>
        </div>
      </div>

    </div>

    <footer class="section__footer">
      <p class="photo-credit text-center">
        <span>Background Photo Credit:</span> <a href="https://www.facebook.com/groups/hertsforrefugees/permalink/3488608217903521/" target="_blank" rel="noopener noreferrer">Mark Lampert of Herts For Refugees</a>
      </p>
    </footer>
  </div>
</section>


<!--
Reserve Your Spot!
================================================================================
-->
<section id="reserve-your-spot" class="section section--content-right bg--img-cover bg--img-pallet-storage">
  <div class="section__content bg--white">
    <header class="section__header">
      <h2 class="section__title">
        Reserve Your Spot!
      </h2>
    </header>

    <div class="section__body">
      <ol class="stages list--unstyled">
        <li class="stage stage--active">
          <h4>1) Submit Your Aid Delivery Request</h4>
          <p>
            Download the <a class="stage-action" href="/docs/da_aid-delivery-request_uk-to-france.xlsx" target="_blank" rel="noopener noreferrer">Aid Delivery Request Form</a> and fill it in.
          </p>
          <p>
            Email the completed form to <a class="stage-action" href="mailto:hubs@distributeaid.org" target="_blank" rel="noopener noreferrer">hubs@distributeaid.org</a>. Your local Staging Hub will receive it and follow up if there are any questions.
          </p>
          <p class="h5">
            Submissions Close: 31st October
          </p>
        </li>
        <li class="stage">
          <h4>2) Consult Frontline Groups</h4>
          <p>
            We'll check in with the frontline groups during the offer period, to confirm which offered donations they want and to prioritise deliveries that meet their biggest needs. Then we can confirm if you have a place reserved on the next truck.
          </p>
          <p class="h5">
            Latest Confirmation Date: 5th November
          </p>
        </li>
        <li class="stage">
          <h4>3) Drop Off @ Staging Hubs</h4>
          <p>
            Schedule a drop-off appointment with your local Staging Hub, pay them the flat-rate <a href="#storage-and-shipping-charge">Storage &amp; Shipping charge</a>, and deliver the boxes of aid at the agreed time.
          </p>
          <p class="h5">
            Staging Period: 15th - 22nd November
          </p>
        </li>
        <li class="stage">
          <h4>4) Deliver The Aid</h4>
          <p>
            <strong>And that's it!</strong> Take an evening off to celebrate a job well done, we got it from here. Once your aid is delivered we'll follow up with an after-shipment report, including photos and acknowledgments from the frontline groups.
          </p>
          <p class="h5">
            Truck Departs: 23rd November
          </p>
        </li>
        <li class="stage">
          <h4>Shipment Timetable</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Offer Deadline</th>
                <th>Truck Departs</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>8th August</td>
                <td>24th August</td>
              </tr>
              <tr>
                <td></td>
                <td>12th September</td>
                <td>5th October</td>
              </tr>
              <tr>
                <td class="text-center text-large">
                  <strong>&#10148;</strong>
                </td>
                <td>31st October</td>
                <td>15th November</td>
              </tr>
              <tr>
                <td></td>
                <td>28th November</td>
                <td>13th December</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ol>

    </div>

    <footer class="section__footer">
      <p class="photo-credit text-center">
        <span>Background Photo Credit:</span> <a href="https://unsplash.com/@ruchindra?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Ruchindra Gunasekara</a> <spam>on <a href="https://unsplash.com/s/photos/warehouse?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></spam>
      </p>
    </footer>
  </div>
</section>


<!--
Frontline Groups
================================================================================
-->
<section id="frontline-groups" class="section section--content-left bg--img-cover bg--img-mrs-distro">
  <div class="section__content bg--white">
    <header class="section__header">
      <h2 class="section__title">
        Frontline Groups
      </h2>
    </header>

    <div class="section__body">
      <div class="tiles tiles--grid tiles--highlight">
        <div class="tile tile--column col-4 col-sm-6">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="./frontline-logos/mrs-logo.256.jpg" alt="Frontline Group Logo: Mobile Refugee Support (MRS)">
          </div>
          <div class="tile-content">
            <p class="tile-title">Mobile Refugee Support</p>
          </div>
        </div>

        <div class="tile tile--column col-4 col-sm-6">
          <div class="tile-icon">
            <img class="icon icon--responsive icon--rounded" src="./frontline-logos/ca-logo.256.jpg" alt="Frontline Group Logo: Collective Aid (CA)">
          </div>
          <div class="tile-content">
            <p class="tile-title">Collective Aid</p>
          </div>
        </div>

        <div class="tile tile--column col-4 col-sm-6">
          <div class="tile-icon">
            <img class="icon icon--responsive icon--rounded" src="./frontline-logos/u56-logo.256.jpg" alt="Frontline Group Logo: Utopia 56 (U56)">
          </div>
          <div class="tile-content">
            <p class="tile-title">Utopia 56</p>
          </div>
        </div>

        <div class="tile tile--column col-4 col-sm-6">
          <div class="tile-icon">
            <img class="icon icon--responsive icon--rounded" src="./frontline-logos/cfc-logo.256.jpg" alt="Frontline Group Logo: Calais Food Collective (CFC)">
          </div>
          <div class="tile-content">
            <p class="tile-title">Calais Food Collective</p>
          </div>
        </div>

        <div class="tile tile--column col-4 col-sm-6">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="./frontline-logos/rck-logo.256.jpg" alt="Frontline Group Logo: Refugee Community Kitchen (RCK)">
          </div>
          <div class="tile-content">
            <p class="tile-title">Refugee Community Kitchen</p>
          </div>
        </div>

        <div class="tile tile--column col-4 col-sm-6">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="./frontline-logos/rwc-logo.256.jpg" alt="Frontline Group Logo: Refugee Women's Center (RWC)">
          </div>
          <div class="tile-content">
            <p class="tile-title">Refugee Women's Center</p>
          </div>
        </div>

        <div class="tile tile--column col-4 col-sm-6">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="./frontline-logos/auberge-logo.256.jpg" alt="Frontline Group Logo: L'Auberge des Migrants (Auberge)">
          </div>
          <div class="tile-content">
            <p class="tile-title">L'Auberge des Migrants</p>
          </div>
        </div>

      </div>
    </div>

    <footer class="section__footer">
      <p class="photo-credit text-center hide-sm">
        <span>Background Photo Credit:</span> <a href="https://www.facebook.com/MobileRefugeeSupport/posts/1492064960999110" target="_blank" rel="noopener noreferrer">Mobile Refugee Support</a>
      </p>
    </footer>
  </div>
</section>


<!--
UK Staging Hubs
================================================================================
-->
<div class="display-flex">
  <div class="col-6 col-sm-12">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1a1ZBC-Fc-WJCP27ZGx70YFRaAByjdFTS" width="100%" height="100%"></iframe>
  </div>

  <section id="uk-staging-hubs" class="section col-6 col-sm-12">
    <div class="section__content bg--white">
      <header class="section__header">
        <h1 class="section__title">
          UK Staging Hubs
        </h1>
      </header>

      <div class="section__body">
        <p>
          The most <strong>cost efficient and Brexit / pandemic-proof</strong> way to send aid from the UK to France is by shipping palletised aid on articulated lorries that are loaded by a forklift. <strong>That's where our UK Staging Hubs come in!</strong> They have the necessary infrastructure and experience working with us to ensure each shipment is fully optimized, which everybody benefits from. Once it's in a Staging Hub, your aid will be palletised, stored, and loaded by a forklift onto the next truck.
        </p>

        <div class="tiles tiles--column tiles--highlight">
        <!--
          <div class="tile">
            <div class="tile-icon">
              <img class="icon icon--responsive" src="./hub-logos/mool-logo.png" alt="Hub Logo: Massive Outpouring of Love (MOOL)">
            </div>
            <div class="tile-content">
              <p class="tile-title">Dumfries - Scotland</p>
              <p>Community Collected Aid</p>
              <p class="text-italic">loose boxes, bulk bags of tents & sleeping bags, etc</p>
            </div>
          </div>

          <div class="tile">
            <div class="tile-icon">
              <img class="icon icon--responsive icon--rounded" src="/img/da-logos/DA_logomark_gradient.jpg" alt="Hub Logo: Distribute Aid (DA)">
            </div>
            <div class="tile-content">
              <p class="tile-title">Leeds - North England</p>
              <p>Purchased Aid &amp; In-Kind Donations</p>
              <p class="text-italic text-bold">pallets only</p>
            </div>
          </div>
        -->

          <div class="tile">
            <div class="tile-icon">
              <img class="icon icon--responsive" src="./hub-logos/pallet-aid-logo.256.png" alt="Hub Logo: Pallet Aid (PA)">
            </div>
            <div class="tile-content">
              <p class="tile-title">Cambridge - South England</p>
              <p>Both Community &amp; Commercial Aid</p>
              <p class="text-italic">pallets, loose boxes, bulk bags of tents &amp; sleeping bags, etc</p>
            </div>
          </div>
        </div>

      </div>

      <footer class="section__footer">
        <p class="photo-credit text-center">
          Questions? Comments? Contact us all at <a href="mailto:hubs@distributeaid.org" target="_blank" rel="noopener noreferrer">hubs@distributeaid.org</a>.  
        </p>
      </footer>

    </div>
  </section>
</div>

<!--
Storage & Shipping Charge
================================================================================
-->
<section id="storage-and-shipping-charge" class="section section--content-left bg--img-cover bg--img-cfc-unloading">
  <div class="section__content bg--white">
    <header class="section__header">
      <h1 class="section__title">
        Storage &amp; Shipping (£)
      </h1>
    </header>

    <div class="section__body">
      <p>
        We offer a flat, per-pallet and per-box storage and shipment charge (S&amp;S) to take the stress out of budgeting to move your aid. By using the Staging Hubs we can keep shipping costs low and consistent, and spread the cost evenly for all groups sending aid.
      </p>

      <div class="tiles tiles--row tiles--highlight">
        <div class="tile tile--column">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="/img/icons/noun_Pallet_3307940.svg" alt="Standard Pallet Icon: Four boxes stacked evenly on a pallet.">
          </div>
          <div class="tile-content text-left">
            <p class="tile-title">Standard Pallet - £75</p>
            <p>1.2m x 1.0m x 1.70m high</p>
            <p>700kg</p>
          </div>
        </div>

        <div class="tile tile--column">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="/img/icons/noun_Pallet_3364535.svg" alt="Half Pallet Icon: 3 boxes stacked in a pyramid on a pallet.">
          </div>
          <div class="tile-content text-left">
            <p class="tile-title">Half Pallet - £45</p>
            <p>1.2m x 1.0m x 0.85m high</p>
            <p>350kg</p>
          </div>
        </div>
      </div>

      <h3>What if my aid doesn't fit exactly?</h3>

      <ul>
        <li>
          We encourage groups to work together to submit a combined offer that
          makes up a Standard Pallet or Half Pallet worth of aid.
        </li>
        <li>
          We reserve 2 pallets worth of space on each truck for overflow, so if
          you have slightly more then a Standard Pallet's worth of aid that's ok!
          Overflow pricing is £2.50 per banana box (500mm x 400mm x 250mm high, holds 15kg).
        </li>
        <li>
          You'll still need to book a Standard Pallet space for commercially purchased aid with smaller pallet dimensions. Unfortunately, due to the way trucks are packed a smaller pallet size doesn't actually allow us to fit more on there. You can always contact <a class="stage-action" href="mailto:hubs@distributeaid.org" target="_blank" rel="noopener noreferrer">hubs@distributeaid.org</a> to look into booking a full truck load at a custom rate.
        </li>
        <li>
          We can book you multiple Standard Pallets worth of space to accommodate bulky items.  Please submit the exact dimensions of the item on the offer form so we can assess how many Standard Pallets it will require, and ensure that we book a curtain-side truck to load it.
        </li>
      </ul>

      <!--
      <h3>When will prices be set?</h3>

      <p>
        Prices for Standard and Half pallets will be available by the <strong>Confirmation Date (February 19th)</strong>, so that you have all of the information you need to confidently accept your spot on the truck.
      </p>
      <p>
        We are currently comparing quotes from our commercial partners and evaluating how post-Brexit price increases will affect this route. Our goal is to provide the best possible flat rate for sending groups!
      </p>
      -->
    </div>


    <footer class="section__footer">
      <p class="photo-credit text-center">
        <span>Background Photo Credit:</span> <a href="https://www.instagram.com/calais_food_collective/" target="_blank" rel="noopener noreferrer">Calais Food Collective</a>
      </p>
    </footer>

  </div>
</section>


<!--
All About Pallets
================================================================================
-->
<section id="all-about-pallets" class="section section--content-right bg--img-cover bg--img-collection-and-sorting">
  <div class="section__content bg--white">
    <header class="section__header">
      <h1 class="section__title">
        All About Pallets
      </h1>
    </header>

    <div class="section__body">
      <h3>How many Standard Pallet spaces do I need?</h3>

      <div class="tiles tiles--column tiles--highlight">
        <div class="tile">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="/img/icons/noun_Van_485356.svg" alt="Van Icon: The Calais classic.">
          </div>
          <div class="tile-content">
            <p class="tile-title">
              Van Loads
            </p>
            <p>
              The Calais classic. Most Vans fit about <strong>3 Standard Pallets</strong> worth of aid in the back.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="/img/icons/noun_sack_1468937.svg" alt="Bulk Bag Icon: A large sack.">
          </div>
          <div class="tile-content">
            <p class="tile-title">
              Bulk Bags
            </p>
            <p>
              Perfect for those larger, clumsier items like tents or sleeping bags that are too awkward to box up.
            </p>
            <ul class="list--v-inline">
              <li>
                Each Bulk Bag takes up one <strong>Half Pallet</strong> space.
              </li>
              <li>
                2 Bulk Bags count as a <strong>Standard Pallet</strong> if they can be stacked.
              </li>
              <li>
                A <strong>Standard Pallet</strong> can also be made by stacking a Bulk Bag on top of 18 Banana Boxes.
              </li>
            </ul>
          </div>
        </div>
        <div class="tile">
          <div class="tile-icon">
            <img class="icon icon--responsive" src="/img/icons/noun_Box_1897159.svg" alt="Confirmed Box Icon: The proverbial banana box.">
          </div>
          <div class="tile-content">
            <p class="tile-title">
              Banana Boxes
            </p>
            <p>
              Easy to acquire, small, and sturdy boxes.  Each Banana Box should hold a specific item, such as mens small pants or women's medium winter sweaters.  Any consistently sized box could be used to fill a Standard or Half pallet.  Banana Box sizes can vary a bit, but a good rule of thumb is:
            </p>
            <ul class="list--v-inline">
              <li>
                <strong>Dimensions:</strong> 500mm x 400mm x 250mm high, holds 15kg
              </li>
              <li>
                18 Banana Boxes make up a <strong>Half Pallet</strong>
              </li>
              <li>
                36 Banana Boxes can fit on a <strong>Standard Pallet</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <footer class="section__footer">
      <p class="photo-credit text-center hide-sm">
        <span>Background Photo Credit:</span> <a href="https://www.facebook.com/DGRefugeeAction" target="_blank" rel="noopener noreferrer">Jay Rubenstien of Massive Outpouring of Love</a>
      </p>
    </footer>

  </div>
</section>
